# فایل‌های سیستم عامل
.DS_Store
Thumbs.db
warp.md

# فایل‌های ادیتور
.vscode/
.idea/

# فایل‌های لاگ
*.log

# فایل‌های موقتی سیستم
*.tmp
*.swp

# پوشه‌های node_modules اگر اسکریپت node اضافه شد
node_modules/

# سایر فایل‌های شخصی یا محرمانه
.env
